html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--- end reset code ---*/

.Head {
    background-color: black;
    width: 100%;
    user-select: none;
    padding-top: 1px;
    padding-bottom: 1.2%;
    opacity: 0.9;
    margin-bottom: 25px;
}

body {
    background: url(images/main.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.logo {
    margin-top: 0.5%;
    margin-left: 5%;
}

.text {
    color: white;
    margin-top: -1.8%;
    margin-left: 15%;
    font-size: 18px;
}

a {
    color: black;
}

.content-left {
    float: left;
    background-color: rgb(179, 173, 173);
    width: 13%;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding: 5px;
    margin-top: -1.3%;
    height: 895px;
    opacity: 0.9;
}

.content-right {
    float: right;
    width: 86%;
    margin: auto;
}

h1 {
    margin-top: 5%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
    background-color: green;
    padding-bottom: 5px;
    padding-top: 5px;
}

table {
    width: 100%;
    table-layout: fixed;
}

#tabel1,
#tabel2,
#tabel3 {
    position: absolute;
    width: 84%;
    background: black;
    height: 0.01px;
    z-index: -1;
    top: 15%;
    left: 15%;
}

#tabel1 {
    visibility: visible;
}

#tabel2 {
    visibility: hidden;
}

#tabel3 {
    visibility: hidden;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.6);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(119, 136, 153, 0.6);
}

.tb2-header {
    background-color: white;
    opacity: 0.8;
}

.tb2-content {
    height: 100px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: white;
    opacity: 0.8;
}

th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    font-size: 12px;
    font-weight: 600;
}

section {
    margin: 50px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}