/*===============================*/
body{
     background-image: url('../images/street.jpg'); 
}
.body_login{
    padding: 0;
    margin: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
    background-size:100%;

}
.login{
    background: #191919;
    text-align: center;
    margin-top: 10%;
    margin-left: 40%;
    width: 300px;
    padding: 40px;
    height: 300px;
    background-color: #2d3233;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    opacity: 0.85;
    margin-bottom: 10%;
}
#login_h1{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.login input[type = "text"],.login input[type = "password"]{
    border: 2px solid white;
    border-radius: 15px;
    padding: 14px 10px;
    display: block;
    margin: 20px auto;
    background: none;
    outline: none;
    width: 200px;
    text-align: center;
    transition: 0.25s;
    color: white;
}


.login input[type="text"]:focus,.login input[type="password"]:focus{
    border-color: white;
    width: 280px;
}

.login input[type="submit"]{
    border: 2px solid white;
    background: none;
    outline: none;
    color: white;
    padding: 14px 40px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
}
.login input[type = "submit"]:hover{
    background: #2ecc71;
}

#span_login{
    color: white;
}



/*==========================================*/  
footer {
    background-color: #222831;
    font-size: 0.95em;
    padding-bottom: 2%;
}

footer .wrapper {
    width: 100%;
    background-color: #222831;
    color: #ffffff;
}

footer .column {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

.column {
    display: inline-block;
    margin-top: 50px;
}

@media all and (max-width: 800px) {
    footer .column {
        display: block;
        width: auto;
    }
}

@media all and (max-width: 700px) {
    footer {
        padding-bottom: 30%;
    }
    .wrapper {
        margin-top: 100px;
    }
}

h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#customer {
    margin-top: 100px;
}

.text_footer {
    padding-left: 20%;
}

.text_footer p {
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover {
    color: rgb(198, 154, 154);
}

#footer_l {
    display: inline-block;
    margin-left: 35%;
}

@media (max-width: 655px) {
    #footer_l {
        display: block;
        width: auto;
        float: left;
        margin-bottom: 10px;
    }
}

#social-links {
    margin-top: 15px;
}

.haveQuestion {
    width: 110%;
}
/*===============================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--- end reset code ---*/

.Head {
    background-color: black;
    width: 100%;
    user-select: none;
    padding-top: 1px;
    padding-bottom: 1.2%;
    opacity: 0.9;
    margin-bottom: 25px;
}

.logo {
    margin-top: 0.5%;
    margin-left: 23%;
}

.phoneIcon {
    margin-left: 40%;
    margin-top: -1.8%;
}

.textNumber {
    color: white;
    margin-top: -1.3%;
    margin-left: 42%;
}

.email {
    margin-top: -1.2%;
    margin-left: 50%;
}

.textEmail {
    color: white;
    margin-top: -1.3%;
    margin-left: 52%;
}

.facebook {
    margin-left: 63%;
    margin-top: -1.1%;
}

.textFacebook {
    color: white;
    margin-top: -1.3%;
    margin-left: 65%;
}

#Menubar ul li .iconmenu {
    padding-top: 2px;
}

.Menubar {
    position: absolute;
    text-align: center;
    width: 20%;
    height: 30px;
    cursor: pointer;
    margin-left: 80%;
    margin-top: -2.5%;

}

.Menubar ul {
    list-style-type: none;
    width: 50%;
    height: 67px;
   
}

.Menubar ul li {
    line-height: 40px;
    width: 99.9%;
    z-index: 999;
    position: relative;
    border-radius: 10px;
}

.Menubar ul li a:hover {
    background: white;
    color: black;
    transition: .6s ease;
    border-bottom: red 1px solid;
    border-radius: 10px;
}

.Menubar ul li a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.Menubar .sub-menu {
    display: none;
    width: 100%;
}

.Menubar :hover .sub-menu {
    display: block;
}

.dangkydangnhap {
    margin-top: -1.3%;
    margin-left: 75%;
    position: absolute;
}

.dangky {
    background-color: #2A2424;
    width: 80px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    cursor: pointer;
}

.dangnhap {
    background-color: #2A2424;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    cursor: pointer;
}

.dangky:hover {
    background-color: gray;
}

.dangnhap:hover {
    background-color: gray;
}
#a_head{
    color: white;
}












/*===========================*/
#register-box {
    position: relative;
    margin: 10% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    opacity: 0.85;
}

.left-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

#register_h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.left-box input[type="text"],
.left-box input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.left-box input[type="email"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.left-box input[type="submit"] {
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: red;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    outline: none;
}

 .left-box input[type="submit"]:hover,
.left-box input[type="submit"]:focus {
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-color: #172329;
    background-size: cover;
    background-position: center;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
}

.right-box .signinwith {
    display: block;
    margin-bottom: 40px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 28px;
    color: #fff;
    text-align: center;
}

button.social {
    margin-bottom: 23px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
}

.face {
    background: #38569a;
}

.twitter {
    background: #00a7e7;
}

.google {
    background: red;
}
/*===============================*/














.Head_ad {
    background-color: rgb(37, 37, 37);
    width: 100%;
    user-select: none;
    padding-bottom: 5%;
    margin-top: -0.4%;
}

.logo_ad {
    margin-left: 10%;
    margin-bottom: -1%;
    padding-top: 1%;
}

.textHead_ad {
    margin-top: -2.5%;
    margin-left: 19%;
    color: white;
}
/*===============Nap Tien=====================*/
.Naptien_body{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
#h1_naptien{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 30px;
     color: black;
    font-weight: 1000;
}

.content-text {
    height: 65%;
    width: 40%;
    position: relative;
    z-index: 1;
    margin-top:10%;
    left: 28%;
    margin-bottom: 100px;
    border-radius: 5px;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.808);
}

.content-text #Take {
    height: 40px;
    width: 20%;
    margin-left: 45%;
    background-color: rgba(57, 57, 219, 0.548);
}

.formnaptien {
    border: 1px solid #80808000;
    height: 470px;
    width: 90%;
}

.formcontrol {
    margin-top: 5%;
}

#label_nap_tien {
    margin-left: 30%;
    display: inline-block;
    font-weight: lighter;
}

.formcontrol input {
    display: block;
    border-bottom: 1px solid rgb(101, 110, 238);
    margin-bottom: 10px;
}

.formcontrol input[type="text"] {
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    margin-left: 30%;
    outline: none;
}
.formcontrol input[type="password"] {
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    margin-left: 30%;
}

.formcontrol input#submit {
    padding: 7px;
    width: 50%;
    margin-left: 25%;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    background-color: royalblue;
}
/*==================UpStatus========================*/
#label_thongbao{
    display: inline-block;
    font-weight: lighter;
    font-size: 25px;
    font-weight: 30;
    margin-top: 5%;
    color: red;
    margin-left: 2px;
    text-align: center;
}
.formnaptien{
    
    margin-top: 5%;
}
.content-thongbao {
    height: 65%;
    width: 45%;
    position: relative;
    z-index: 1;
    margin-top:10%;
    left: 28%;
    margin-bottom: 300px;
    border-radius: 5px;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.808);
}
.img_thongbao{
    margin-top: 5%;
    margin-left: 38%;
}