body {
    background: url(../images/main.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.logo {
    margin-top: 0.5%;
    margin-left: 5%;
}

.text {
    color: white;
    margin-top: -1.8%;
    margin-left: 15%;
    font-size: 18px;
}

a {
    color: black;
}

h1 {
    margin-top: 5%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
    background-color: green;
    padding-bottom: 5px;
    padding-top: 5px;
}

table {
    width: 100%;
    table-layout: fixed;
}

#tabel2 {
    visibility: visible;
}

#tabel3 {
    visibility: hidden;
}

#tabel3a,
#tabel3b,
#tabel3c,
#tabel2a,
#tabel2b,
#tabel2c {
    float: left;
    z-index: -1;
}

#tabel3a h1,
#tabel3c h1,
#tabel2a h1,
#tabel2c h1 {
    color: green
}

#tabel2,
#tabel3 {
    margin-left: 9%;
    position:absolute;
    z-index: -1;
}

#tabel2a,
#tabel3a {
    width: 20%;
    margin-top: 5%;
}

#tabel3b,
#tabel2b {
    width: 50%;
    margin-top: 3.5%;
}

#tabel3c,
#tabel2c {
    width: 20%;
    margin-top: 5%;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.295);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: whitesmoke;
    opacity: 0.8;
}

th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

section {
    margin: 50px;
}

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.buttonchange {
    position: relative;
    margin-top: 35%;
}

button[type="button"] {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: #4CAF50;
    padding: 7px;
    font-size: 15px;
    width: 15%;
    margin-left: 25%;
    margin-bottom: 150px;
    outline: none;
    opacity: 0.9;
}

button[type="button"]:hover {
    background: green;
}

footer {
    background-color: #222831;
    font-size: 0.95em;
    padding-bottom: 2%;
}

footer .wrapper {
    width: 100%;
    background-color: #222831;
    color: #ffffff;
}

footer .column {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

.column {
    display: inline-block;
    margin-top: 50px;
}

@media all and (max-width: 800px) {
    footer .column {
        display: block;
        width: auto;
    }
}

@media all and (max-width: 700px) {
    footer {
        padding-bottom: 30%;
    }
    .wrapper {
        margin-top: 100px;
    }
}

h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#customer {
    margin-top: 100px;
}

.text_footer {
    padding-left: 20%;
}

.text_footer p {
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover {
    color: rgb(198, 154, 154);
}

#footer_l {
    display: inline-block;
    margin-left: 35%;
}

@media (max-width: 655px) {
    #footer_l {
        display: block;
        width: auto;
        float: left;
        margin-bottom: 10px;
    }
}

#social-links {
    margin-top: 15px;
}

.haveQuestion {
    width: 110%;
}