html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--- end reset code ---*/

.Head {
    background-color: black;
    width: 100%;
    user-select: none;
    padding-top: 1px;
    padding-bottom: 1.2%;
    opacity: 0.9;
    margin-bottom: 25px;
}

.logo {
    margin-top: 0.5%;
    margin-left: 23%;
}

.phoneIcon {
    margin-left: 40%;
    margin-top: -1.8%;
}

.textNumber {
    color: white;
    margin-top: -1.3%;
    margin-left: 42%;
}

.email {
    margin-top: -1.2%;
    margin-left: 50%;
}

.textEmail {
    color: white;
    margin-top: -1.3%;
    margin-left: 52%;
}

.facebook {
    margin-left: 63%;
    margin-top: -1.1%;
}

.textFacebook {
    color: white;
    margin-top: -1.3%;
    margin-left: 65%;
}

#Menubar ul li .iconmenu {
    padding-top: 2px;
}

.Menubar {
    position: absolute;
    text-align: center;
    width: 20%;
    height: 30px;
    cursor: pointer;
    margin-left: 80%;
    margin-top: -2.5%;
    background-color: black;
}

.Menubar ul {
    list-style-type: none;
    width: 50%;
    height: 67px;
}

.Menubar ul li {
    line-height: 40px;
    width: 99.9%;
    position: relative;
    border-radius: 10px;
}

.Menubar ul li a:hover {
    background: white;
    color: black;
    transition: .6s ease;
    border-bottom: red 1px solid;
    border-radius: 10px;
}

.Menubar ul li a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.Menubar .sub-menu {
    display: none;
    width: 100%;
}

.Menubar :hover .sub-menu {
    display: block;
}

body {
    background: url(../images/main.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.main {
    margin: 7em auto 0;
    width: 44%;
    border: green 2px solid;
    padding: 20px;
    margin-bottom: 100px;
    background: black;
    opacity: 0.8;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.main h1 {
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}

.main h3 {
    margin-left: 10px;
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 1em 0;
    font-family: 'Oxygen', sans-serif;
}

.main h3 {
    font-size: 1em;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
}

#bienso {
    padding: 15px;
    font-size: 1.1em;
    margin: 18px 0px;
    color: #666666;
    width: 96%;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    outline: none;
    font-weight: 600;
    margin-left: 5px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

#Chosebox:hover,
#bienso:hover {
    color: black;
    border-left: 6px solid#40A46F;
}

#Chosebox {
    padding: 15px;
    font-size: 1.1em;
    margin: 18px 0px;
    color: #666666;
    width: 96%;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    outline: none;
    font-weight: 600;
    margin-left: 5px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.mauoption {
    color: white;
    background-color: black;
    opacity: 0.8;
}

.lable input[type="text"] {
    padding: 15px;
    font-size: 1.1em;
    margin: 18px 0px;
    color: #666666;
    width: 87%;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    outline: none;
    font-weight: 600;
    margin-left: 5px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.nblabel1{
        padding: 15px;
        font-size: 1.1em;
        margin: 18px 0px;
        color: #666666;
        width: 87%;
        cursor: pointer;
        font-family: 'Oxygen', sans-serif;
        outline: none;
        font-weight: 600;
        margin-left: 5px;
        background: #FFFFFF;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        border-left: 6px solid #fff;
        border-bottom: none;
        border-right: none;
        border-top: none;
    
}

.lable input[type="text"]:hover,
.lable-2 input[type="text"]:hover,
#active {
    color: black;
    border-left: 6px solid#40A46F;
}

.lable-2 input[type="text"],
input[type="Password"] {
    padding: 14px;
    width: 94%;
    font-size: 1em;
    margin-left: 5px;
    margin-bottom: 20px;
    border: none;
    color: #666666;
    cursor: pointer;
    background: none;
    float: left;
    outline: none;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    background: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.nblb2{
    padding: 14px;
    width: 94%;
    font-size: 1em;
    margin-left: 5px;
    margin-bottom: 20px;
    border: none;
    color: #666666;
    cursor: pointer;
    background: none;
    float: left;
    outline: none;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    background: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.submit {
    padding: 5px 4px;
    text-align: center;
}

input[type=submit] {
    border-radius: 10px;
    padding: 17px 30px;
    color: #fff;
    float: right;
    font-family: 'Oxygen', sans-serif;
    background: #40A46F;
    border: 1px solid #40A46F;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
}

.checkbutton {
    color: whitesmoke;
    font-size: 18px;
}

.checkbutton input[type=checkbox] {
    margin-bottom: 7px;
}

.titletinhnang {
    color: lightblue;
    margin-bottom: 10px;
}

.submit input[type=submit]:hover {
    background: #07793D;
    border: 1px solid #07793D;
}

.col_2_of_2:first-child {
    margin-left: 0;
}

.col_2_of_2 {
    display: block;
    float: left;
}

.col_3_of_2:first-child {
    margin-left: 0;
}

.titlemota {
    height: 100px;
}

.col_3_of_2 {
    display: block;
    float: left;
}

.col_1_of_2:first-child {
    margin-left: 0;
}

.span_1_of_2 {
    width: 50%;
}

.col_1_of_2 {
    display: block;
    float: left;
}

.col_1_of_f:first-child {
    margin-left: 0;
}

.span_1_of_f {
    width: 49.7%;
}

.col_1_of_f {
    display: block;
    float: left;
    margin: 0 0 0 0;
}

.Imageplance1 {
    margin: 10px;
    width: 30%;
}

.buttonadd1 {
    border: none;
    margin-left: 10px;
    width: 30%;
    Color: white;
}

.Imageplance2 {
    margin: 10px;
    width: 13%;
    position: absolute;
    margin-left: 23.1%;
    margin-top: -3%;
}

.buttonadd2 {
    margin-left: 20.5%;
    width: 30%;
    Color: white;
}

.Imageplance2,
.Imageplance1 {
    background-color: #07793D;
    color: white;
    text-align: center;
    border: wheat 1px solid;
    padding: 3px;
}


/*----start-responsive design-----*/

@media (max-width:1024px) {
    .col_1_of_2 {
        margin: 0 0 0 3.6%;
    }
    .span_1_of_2 {
        width: 47.7%;
    }
    .span_1_of_f {
        width: 50%;
    }
    i.fb,
    i.tw {
        margin-right: 1em;
    }
    .main {
        width: 50%;
    }
}

@media (max-width:800px) {
    .span_1_of_f {
        width: 100%;
    }
    .col_1_of_f {
        float: none;
    }
    .span_1_of_2 {
        width: 100%;
    }
    .col_1_of_2 {
        margin: 0;
    }
    .lable-2 input[type="text"],
    input[type="Password"] {
        padding: 14px;
        width: 89%;
    }
}

@media (max-width:480px) {
    .main {
        margin: 7em auto 0;
        width: 70%;
    }
}

@media (max-width:320px) {
    .main {
        width: 80%;
    }
    .lable input[type="text"] {
        width: 83%;
    }
    .lable-2 input[type="text"],
    input[type="Password"] {
        width: 84%;
    }
}

footer {
    background-color: #222831;
    font-size: 0.95em;
    padding-bottom: 2%;
}

footer .wrapper {
    width: 100%;
    background-color: #222831;
    color: #ffffff;
}

footer .column {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

.column {
    display: inline-block;
    margin-top: 50px;
}

@media all and (max-width: 800px) {
    footer .column {
        display: block;
        width: auto;
    }
}

@media all and (max-width: 700px) {
    footer {
        padding-bottom: 30%;
    }
    .wrapper {
        margin-top: 100px;
    }
}

h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#customer {
    margin-top: 100px;
}

.text_footer {
    padding-left: 20%;
}

.text_footer p {
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover {
    color: rgb(198, 154, 154);
}

#footer_l {
    display: inline-block;
    margin-left: 35%;
}

@media (max-width: 655px) {
    #footer_l {
        display: block;
        width: auto;
        float: left;
        margin-bottom: 10px;
    }
}

#social-links {
    margin-top: 15px;
}

.haveQuestion {
    width: 110%;
}

