html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--- end reset code ---*/

.Head {
    background-color: black;
    width: 100%;
    user-select: none;
    padding-top: 1px;
    padding-bottom: 1.2%;
    opacity: 0.9;
    margin-bottom: 25px;
}

.logo {
    margin-top: 0.5%;
    margin-left: 23%;
}

.phoneIcon {
    margin-left: 40%;
    margin-top: -1.8%;
}

.textNumber {
    color: white;
    margin-top: -1.3%;
    margin-left: 42%;
}

.email {
    margin-top: -1.2%;
    margin-left: 50%;
}

.textEmail {
    color: white;
    margin-top: -1.3%;
    margin-left: 52%;
}

.facebook {
    margin-left: 63%;
    margin-top: -1.1%;
}

.textFacebook {
    color: white;
    margin-top: -1.3%;
    margin-left: 65%;
}

#Menubar ul li .iconmenu {
    padding-top: 2px;
}

.Menubar {
    position: absolute;
    text-align: center;
    width: 20%;
    height: 30px;
    cursor: pointer;
    margin-left: 80%;
    margin-top: -2.5%;
    background-color: black;
}

.Menubar ul {
    list-style-type: none;
    width: 50%;
    height: 67px;
}

.Menubar ul li {
    line-height: 40px;
    width: 99.9%;
    position: relative;
    border-radius: 10px;
}

.Menubar ul li a:hover {
    background: white;
    color: black;
    transition: .6s ease;
    border-bottom: red 1px solid;
    border-radius: 10px;
}

.Menubar ul li a {
    text-decoration: none;
    display: block;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.Menubar .sub-menu {
    display: none;
    width: 100%;
}

.Menubar :hover .sub-menu {
    display: block;
}

body {
    background: url(../images/main.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

mark {
    padding: 5px 20px 5px 20px;
}

.giatien {
    float: right;
    width: 30%;
    color: black;
    text-align: center;
    margin-top: -46%;
    margin-right: 10%;
}

.thongtinxe textarea,
#contact input[type="text"] {
    font: 400 14px/18px "Roboto", Helvetica, Arial, sans-serif;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    text-align: center;
}

.thongtinxe textarea :hover,
#contact input[type="text"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

.thongtinxe textarea {
    height: 100px;
    max-width: 80%;
    resize: none;
    text-align: left;
    font-size: 18px;
}

.thongtinxe textarea,
#contact input:focus {
    outline: 0;
    border: 1px solid #aaa;
}

#contact {
    padding: 50px 60px 50px 50px;
    width: 80%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: whitesmoke;
}

fieldset {
    border: medium none !important;
    margin: 10px 0 10px 0;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#formxacnhandangbai {
    width: 84%;
    margin-left: 10%;
    margin-bottom: 5%;
    position: relative;
    z-index: -1;
}

.imagecar {
    width: 55%;
    margin-top: 10%;
    height: 495px;
    border: 2px black solid;
}

.thongtinxe {
    background-color: whitesmoke;
    width: 51%;
    padding: 0 30px 30px 30px;
    color: gray;
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.tinhnang textarea {
    height: 50px;
    max-width: 30%;
    resize: none;
    text-align: left;
}

.information {
    padding-top: 20px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    padding-top: 40px;
}

.subtitle {
    font-weight: 200;
    font-size: 20px;
    color: black;
}

.money {
    color: green;
    font-weight: 500;
    font-size: 38px;
}

#contact button[type="submit"] {
    position: relative;
    z-index: 10px;
    cursor: pointer;
    width: 70%;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    background: #4CAF50;
    color: #FFF;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #222831;
    font-size: 0.95em;
    padding-bottom: 2%;
}

footer .wrapper {
    width: 100%;
    background-color: #222831;
    color: #ffffff;
}

footer .column {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 300px;
}

.column {
    display: inline-block;
    margin-top: 50px;
}

@media all and (max-width: 800px) {
    footer .column {
        display: block;
        width: auto;
    }
}

@media all and (max-width: 700px) {
    footer {
        padding-bottom: 30%;
    }
    .wrapper {
        margin-top: 100px;
    }
}

h4 {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#customer {
    margin-top: 100px;
}

.text_footer {
    padding-left: 20%;
}

.text_footer p {
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover {
    color: rgb(198, 154, 154);
}

#footer_l {
    display: inline-block;
    margin-left: 35%;
}

@media (max-width: 655px) {
    #footer_l {
        display: block;
        width: auto;
        float: left;
        margin-bottom: 10px;
    }
}

#social-links {
    margin-top: 15px;
}

.haveQuestion {
    width: 110%;
}